*~
.*~
*/htdocs/data/*
messages/messages*
log/*.txt.*
log/*.20*
thermo_data/thermo_data*.txt.*
thermo_data/*.20*
thermo_data/*g
app.pid
bin_ac/server_pid
dblog.txt
error_log
error_mh383_test.txt
kekka
last_data2
last_data2.txt
log.txt
log/boiler.txt
log/circulator.txt
log/co2.txt
log/db.txt
log/fan.txt
log/window0_log.txt
log/window0_step.txt
log/window1_step.txt
mch.txt
redis/app.pid
thermo_data/co2.png
thermo_data/thermo_data.csv.png
thermo_data/thermo_data.jpg
thermo_data/thermo_data2.csv
thermo_data/thermo_data2.txt
thermo_data/thermo_data_yesterday.jpg


